
mat-toolbar{
  background-color: transparent;
}
ul{
list-style: none;
  padding: 0;
  margin: 0 ;
  background-color: transparent;
}
li{
  background-color: rgb(44, 158, 66);
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 5px;
}
a {

  text-decoration: none;
  color: white;
}

.spacer{
  flex: 1 1 auto;
}
